a.btn.btn-primary.pull-right(href="#{environment}/scroll-load") Volver al ejemplo

.page-header
  h1 Scroll Load

.row
  p Este ejemplo consiste en una tabla con paginación. Cada elemento tarda mucho en renderizarse y queremos que el scroll sea fluido.
  p Para ello utilizaremos la función de requestAnimationFrame para pintar cada celda.

.page-header.row
  h1 Timeline
  img(src="#{environment}/assets/img/scroll-load-after.png", class="col-xs-12")

.row
  table#table.table(style="table-layout:fixed")
    tbody

script(src="#{environment}/scroll-load/raf.js")
