doctype
html
  head
    link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet" href="/assets/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="/assets/css/ie10-viewport-workaround.css")
    script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/bootstrap.min.js")
    script(src="/assets/js/ie10-viewport-workaround.js")
  body
    !=partial('/_shared/nav')
    .container
      != yield
