.page-header
  h1 60fps Workshop

div.col-xs-6.col-xs-offset-3(style="text-align:left")
  h2 Requisitos

  ul(style="text-align:left")
    li
      a(href="https://git-scm.com/") git
    li
      a(href="https://nodejs.org/es/") nodeJS
    li
      a(href="https://www.npmjs.com/package/harp") harp (
      code npm install -g harp
      span )

  h2 ¿Cómo ejecutarlo?
  p Asegúrate que primero cumples los requisitos, después clona el siguiente repositorio:
  code $ git clone https://github.com/josex2r/60fps-workshop.git
  br
  br
  p Muévete al directorio en donde has clonado el proyecto e instala los paquete con 
  code npm
  span o
  code yarn
  span :
  code $ npm install
  br
  br
  p Ejecuta:
  code $ npm server
  br
  br
  p Y por último accede a 
    a(href="http://localhost:9000/") localhost:9000 
 
