.page-header
  h1 Test
  button#btnRunTask.btn.btn-default Make some heavy task

.row
  .progress
    #progress.progress-bar
      span.sr-only

.row
  table#table.table

script(src="/click-listener/index.js")
