.page-header
  h1 Conclusiones

div.col-md-8
  ul(style="text-align:left")
    li Evita a las propiedades que hacer repintado DOM, incluso para leer
    li Si lo tienes que hacer, procura agrupar las acciones
    li Divide y delega el momento de ejecución en el navegador
    li No dividas demasiado
    li No generes delegaciones de ejecución masivas
    li Normalmente mejor emplear funciones js nativas que jquery etc, prueba
    li Si tienes que elegir, céntrate en lo que realmente está viendo el usuario
    li Necesitarás probablemente combinar diferentes técnicas para conseguir optimizar

img.col-md-4(src="https://media.giphy.com/media/a5viI92PAF89q/giphy.gif")
