.page-header
  h1 Conclusiones

div.col-md-8
  ul(style="text-align:left")
    li Evita a las propiedades que hacen repintado de DOM. Incluso de lectura!
    li Si lo tienes que hacer, procura agrupar las acciones que hagas sobre el DOM.
    li Divide y delega el momento de ejecución en el navegador.
    li Pero no dividas demasiado!
    li No generes delegaciones de ejecución masivas.
    li Normalmente, es mejor emplear funciones js nativas que librerías de terceros (jquery, etc...)
    li Si tienes que elegir, céntrate en lo que realmente está viendo el usuario.
    li Necesitarás probablemente combinar diferentes técnicas para conseguir optimizar.
    li Prueba, prueba y prueba... mucho!

img.col-md-4(src="https://media.giphy.com/media/a5viI92PAF89q/giphy.gif")
