a.btn.btn-primary.pull-right(href="#{environment}/heavy-render/raf") Ir a la solución

.page-header
  h1 Heavy Render

.row
  p En este caso veremos como optimizar operaciones pesadas de rendering para que vayan más fluidas.
  p El problema consiste en un conjunto de datos que se tienen que el usuario tiene que ver actualizar en tiempo real.
  p Para optimizarlo haremos que únicamente se rendericen los elementos que el usuario está viendo en ese momento.

.page-header.row
  h1 Timeline
  img(src="#{environment}/assets/img/heavy-render-before.png", class="col-xs-12")

.row
  table#table.table(style="table-layout:fixed")

script(src="#{environment}/heavy-render/index.js")
