a.btn.btn-primary.pull-right(href="#{environment}/heavy-render") Volver al ejemplo

.page-header
  h1 Heavy Render

.row
  p Para optimizarlo haremos que únicamente se rendericen los elementos que el usuario está viendo en ese momento.

.page-header.row
  h1 Timeline
  img(src="#{environment}/assets/img/heavy-render-after.png", class="col-xs-12")

.row
  table#table.table(style="table-layout:fixed")

script(src="#{environment}/heavy-render/raf.js")
