.page-header
  h1 Resizing may cause reflows
  a(href="https://gist.github.com/paulirish/5d52fb081b3570c81e3a") What forces layout / reflow?

.row
  .progress
    #progress.progress-bar
      span.sr-only

#frame.row
  .col-xs-12(style="background-color:#EF9A9A")
  .col-xs-12(style="background-color:#FFEB3B")
  .col-xs-12(style="background-color:#2196F3")
  .col-xs-12(style="background-color:#4CAF50")

script(src="./raf.js")
