a.btn.btn-primary.pull-right(href="#{environment}/heavy-listener/raf") Ir a la solución

.page-header
  h1 Determinados accesos al DOM pueden causar un reflow

.row
  p En este ejemplo se puede observar cómo al escuchar el evento scroll y realizar operaciones "sensibles" (con determinados accesos al DOM) podemos provocar un <b>reflow</b> y forzar que el navegador recalcule los estilos a mitad del frame.
  p
    a(href="https://gist.github.com/paulirish/5d52fb081b3570c81e3a") <b>What forces layout / reflow?</b>

!=partial('../_shared/heavy-listener', { img: 'heavy-listener-before.png' })

script(src="#{environment}/heavy-listener/index.js")
