a.btn.btn-primary.pull-right(href="#{environment}/heavy-listener/raf") Ir a la solución

.page-header
  h1 Determinados accesos al DOM pueden causar un reflow
  a(href="https://gist.github.com/paulirish/5d52fb081b3570c81e3a") What forces layout / reflow?

!=partial('../_shared/heavy-listener', { img: 'heavy-listener-before.png' })

script(src="#{environment}/heavy-listener/index.js")
