a.btn.btn-primary.pull-right(href="#{environment}/heavy-listener") Volver al ejemplo

.page-header
  h1 Determinados accesos al DOM pueden causar un reflow (solución)

!=partial('../_shared/heavy-listener', { img: 'heavy-listener-after.png' })

script(src="#{environment}/heavy-listener/raf.js")
