.page-header.row
  h1 Timeline
  img(src="#{environment}/assets/img/#{img}", class="col-xs-12")

.page-header.row
  h1 Pulsa el botón para ver qué ocurre.
  p Se cargará una csv con miles de filas que se renderizarán a la vez en una tabla.
  button#btnRunTask.btn.btn-default Make some heavy task

.row
  .progress
    #progress.progress-bar
      span.sr-only

.row
  table#table.table
