.page-header.row
  h1 Timeline
  img(src="#{environment}/assets/img/#{img}", class="col-xs-12")

.page-header.row
  h1 Haz scroll debajo con el timeline grabando para ver qué ocurre.

.row
  .progress
    #progress.progress-bar
      span.sr-only

#frame.row
  .col-xs-12(style="background-color:#EF9A9A")
  .col-xs-12(style="background-color:#FFEB3B")
  .col-xs-12(style="background-color:#2196F3")
  .col-xs-12(style="background-color:#4CAF50")

